body{
	padding: 0px;
	margin: 0px;
	background-image: url("images/fondo.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

h1{
	font-family: sans-serif;
	text-align: center;
}

h2{
	color: green;
	text-align: center;
	margin-top:10em;
}

footer{
	margin-top:400px;
	color:#ffffff;
}